{% extends "base.html" %}
{% block content%}
  	<div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>

          - Emotional Data Management and Analysis - “SEDMA”
          - SEDMA contains a whole workflow for affective level image data classification, labeling and storing.

          </p>
        </div>
        <div class="col-md-6">
          <pre>
          - Image emotional content classification.
          - 8 motion categories: amusement, awe, contentment, excitement, anger, disgust, fear and sadness.
          </pre>
        </div>
        
      </div>

  	</div>
  	
{% endblock %}

